pip install numpy
pip install xgboost
pip install sklearn
pip install bayes_opt
pip install pathlib
pip install collections
pip install concurrent
pip install functools
pip install mmap
pip install json
pip install pickle
pip install tqdm
pip install logging
pip install math
pip install matplotlib
